JWT_SECRET=b43aa438766e147c87ca93d5a9dc519ff7ecde264642d8d15ae26985ba6a9eeb
PORT=10000
FRONTEND_URL=https://cghi.vercel.app
SEED_ADMIN_PASSWORD=Admin@CGHI2025!
SEED_ADMIN_EMAIL=admin@pandemicintelcenter.org